service: sim-feed-api

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-2
  timeout: 15
  memorySize: 512
  environment:
    USE_SSL: true
  vpc:
    securityGroupIds:
      - ${env:SECURITY_GROUP_ID}
    subnetIds:
      - ${env:PRIVATE_SUBNET_1_ID}
      - ${env:PRIVATE_SUBNET_2_ID}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ssm:GetParameter
          Resource: arn:aws:ssm:${aws:region}:${aws:accountId}:parameter/sim-feed/*
        - Effect: Allow
          Action:
            - ec2:CreateNetworkInterface
            - ec2:DescribeNetworkInterfaces
            - ec2:DeleteNetworkInterface
          Resource: "*"

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    platform: node
    target: node20
    packager: pnpm
    external: []

package:
  individually: true

functions:
  getPost:
    handler: src/handlers/getPost.handler  
    events:
      - httpApi:
          path: /posts/{post_id}
          method: GET

  getPosts:
    handler: src/handlers/getPosts.handler  
    events:
      - httpApi:
          path: /posts/pages/{page}
          method: GET

  getPostComments:
    handler: src/handlers/getPostComments.handler
    events:
      - httpApi:
          path: /posts/{post_id}/comments
          method: GET

  getPersonaInfo:
    handler: src/handlers/getPersonaInfo.handler
    events:
      - httpApi:
          path: /persona/{persona_id}
          method: GET

  getPersonaFollows:
    handler: src/handlers/getPersonaFollows.handler
    events:
      - httpApi:
          path: /persona/{persona_id}/relations
          method: GET
    
    getPostsWithComments:
      handler: src/handlers/getPostsWithComments.handler
      events:
        - httpApi:
            path: /posts/page/{page}/comments
            method: GET

  getRandomPosts:
    handler: src/handlers/getRandomPosts.handler
    events:
      - httpApi:
          path: /posts/random/{num_posts}
          method: GET
          
  getMostActiveAgents:
    handler: src/handlers/getMostActiveAgents.handler
    events:
      - httpApi:
          path: /personas/most-active/{limit}
          method: GET
          
  getMostLikedPosts:
    handler: src/handlers/getMostLikedPosts.handler
    events:
      - httpApi:
          path: /posts/most-liked/{limit}
          method: GET
